@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-orange: 45, 49, 77;
        --color-pale-orange: 49, 211, 92;
        --color-dark-grayish-blue: 150, 152, 166;
        --color-light-grayish-blue: 150, 152, 166;
        --color-very-dark-blue: 243, 244, 246;
        --color-grayish-blue: 250, 250, 250;
    }
}